Orchestration Tool to Schedule requests to a cluster of RESTful APIs

Functional Requirements

	Restful Calls
	- App must be able to handle three requests: Start, Last, Clean to each agent.
	- Start- HTTP GET initiates a test run on the agent and app waits to recieve outcome.
	- Last- HTTP GET retrieves the outcome of last test stored in cache on the agent.
	- Clean- HTTP GET triggers a celanup of the agent to reset it after error.
	- Requests should be able to run in parallel, single thread for each request.
	Scheduling
	- App must be able to schedule calls to go out at specific times on repeat.
	- Schedule must be able to persist through app restarting.
	- Schedule must be configurable: create, delete, clear etc.
	Logging
	- App must be able to store retrurned outcomes from requests to agents.
	- Logs must persist through restart.
Non-Functional Requirements

	Front End
	- The app should be configurable through a front end web interface.


Questions to ask
Does a single agent need to support multiple schedules?