<html>
  {% if agent == None %}
  <head>
    <title>OrchREST-404 Not Found</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/orchestrator.css') }}"
    />
  </head>
  <body>
    <h1>The agent specified cannot be found</h1>
    <div>
      <a
      href="/agents/"
      >List of agents here</a
    ></div>
  </body>
  {% else %}
  <head>
      <title>OrchREST-{{ agent.id }}</title>
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/orchestrator.css') }}"
      />
      <body>
          <h1 align="center">List of current active agents</h1>
          <div class="container">
            <div class="row">
              <div class="col-sm-8 offset-sm-2">
                <table class="agents_table table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Job Tag</th>
                      <th>Every</th>
                      <th>Interval</th>
                      <th>Time</th>
                      <th>Functions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for job in agent.jobs%}
                    <form method="POST">
                      <tr>
                        <th>
                          <input type="text" name="tag" value="{{ job.tag }}">
                        </th>
                        <td>
                            <select name="every">
                              <option value="second">second</option>
                              <option value="minute">minute</option>
                              <option value="hour">hour</option>
                              <option value="day">day</option>
                              <option value="week">week</option>
                              <option value="monday">monday</option>
                              <option value="tuesday">tuesday</option>
                              <option value="wednesday">wednesday</option>
                              <option value="thursday">thursday</option>
                              <option value="friday">friday</option>
                              <option value="saturday">saturday</option>
                              <option value="sunday">sunday</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="interval" value="{{ job.interval }}">
                        </td>
                        <td>
                            <input type="text" name="time" value="{{ job.time }}">
                        </td>
                          <td><input type="submit" value="Submit">
                        </td>
                      </tr>
                    </form>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </body>
  {% endif %}
</html>
